@media screen and (min-width: 768px) {
    .container-75 {
        width: 90%;
    }

    .row {
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .sec1 .col-70 {
        width: 65%;
    }

    .sec1 .col-30 {
        width: 30%;
    }

    .container-img-sec1 {
        width: 70%;
    }

    .card {
        min-height: 750px;
    }

    .sec6 {
        padding-bottom: 2rem;
    }

    .card-col-50-right {
        display: flex;
        justify-content: center;
    }

    /* SECTION 4 */

    .sec4 .col-30 {
        width: 45%;
    }
}

/* DESKTOP */

@media screen and (min-width: 992px) {
    .container-75 {
        width: 90%;
    }

    /* SECTION1 */

    .card-row {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .card-col-50,
    .card-col-50-right {
        width: 50%;
    }

    .card {
        min-height: 650px;
    }

    .container-img-sec1 {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .card-col-50 h2,
    .card-col-50 p,
    .card-col-50 button {
        margin: 3rem 0;
    }

    .card-col-50 h2 {
        font-size: 2rem;
    }

    /* SECTION2 */

    .sec2 .col-50 {
        width: calc(50% - 2rem);
        margin: 0 1rem;
    }

    /* SECTION4 */

    .sec4 .col-30 {
        width: 30%;
    }

    .card-type2 {
        min-height: 800px;
    }

    .content-sec4-card-type2 h1,
    .content-sec4-card-type2 h2,
    .content-sec4-card-type2 p,
    .content-sec4-card-type2 button {
        margin: 1rem 0;
    }

    /* SECTION5 */

    .sec5 .col-70 {
        width: calc(60% - 3rem);
    }

    .sec5 .col-30 {
        width: calc(40% - 3rem);
    }

    .sec5 .col-30,
    .sec5 .col-70 {
        margin: 0 1rem;
    }

    .sec5 p {
        font-size: 1.2rem;
    }

    .sec5 h2 {
        font-size: 2rem;
    }

    .sec5 button {
        width: 100%;
    }

    /* SECTION6 AND FOOTER*/

    .sec6 .container-75,
    footer .container-75 {
        width: 60%;
    }
}

/* DEKSTOP EXTRA LARGE */