* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITY */

.container-75 {
    width: 75%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-30 {
    width: 100%;
}

.col-50 {
    width: 100%;
}

.col-70 {
    width: 100%;
    height: 100px;
    background-color: purple;
    border: 2px solid black
}

.col-100 {
    width: 100%;
}

section {
    margin: 3rem 0;
}

.flex-row {
    flex-direction: row;
}

.flex-end {
    justify-content: flex-end;
}

i {
    color: white;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px
}

.text-left {
    text-align: left;
}

/* CARDS */

.card {
    background-color: #B5DDFF;
    border-radius: 30px;
    padding: 40px 30px;
    margin: 40px 0;
    text-align: center;
}

.card-type2 {
    background-color: white;
    border-radius: 30px;
    padding: 40px 30px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-type3 {
    background-color: #9792E4;
    border-radius: 30px;
    padding: 40px 30px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* HEADER */

header {
    background-color: #0084FD;
    height: 75px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

header .col-50 {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.logo-header img {
    padding: 10px;
    width: 50%;
}

.hamburger button {
    border: none;
    background-color: transparent;
    font-size: 35px;
}

/* SECTION 1 */

.content-sec1-card h2 {
    color: #0084FD;
    font-size: 30px;
}

.content-sec1-card p {
    font-size: 20px;
    margin: 20px 0;
    color: #5A6E7F;
}

.content-sec1-card button {
    background-color: #0084FD;
    font-size: 25px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    margin: 20px 0;
}

.content-sec1-card button p {
    color: white;
}

.content-sec1-card img {
    width: 100%;
}

.card-icon {
    text-align: center;
    margin: 20px 0;
}

.card-icon i {
    color: #0084FD;
    font-size: 120px;
}

/* SECTION 2 */

.sec2 {
    background-color: #9792E4;
    padding: 40px 0;
    color: white;
}

.sec2 img {
    width: 100%;
}

.sec2 h2 {
    margin: 40px 0;
}

.content-sec2-card-type2 h2 {
    font-size: 30px;
    color: black;
}

.content-sec2-card-type2 p {
    font-size: 25px;
    color: black;
    margin-bottom: 20px;

}

.content-sec2-card-type2 button {
    background-color: #9792E4;
    font-size: 25px;
    width: 20%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    padding: 30px;
}

/* SECTION 3 */

.sec3 h3 {
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
    font-size: 20px;
}

.sec3 p {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    line-height: 45px;
}

.sec3 h2 {
    color: #9792E4;
    text-align: center;
    font-size: 50px;
}

.content-sec3-card-type3 img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.content-sec3-card-type3 h2 {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    margin: 20px 0;
}

.content-sec3-card-type3 i {
    display: inline-block;
}

.content-sec3-card-type3 p {
    font-size: 30px;
    color: white;
}

/* SECTION 4 */

.sec4 {
    background-color: #9792E4;
    padding: 40px 0;
}

.title-sec4 h2 {
    color: white;
    text-align: center;
}

.content-sec4-card-type2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.content-sec4-card-type2 h1 {
    font-size: 50px;
}

.content-sec4-card-type2 h2 {
    font-size: 35px;
}

.content-sec4-card-type2 h1,
h2 {
    color: #9792E4;
    margin: 10px 0;
}

.content-sec4-card-type2 p {
    color: #5A6E7F;
    margin: 30px 0;
    font-size: 25px;
    line-height: 45px;
}

.content-sec4-card-type2 button {
    background-color: #9792E4;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 40%;
    font-size: 20px;
}