* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* UTILITY */

.container-75 {
    width: 75%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-30 {
    width: 100%;
}

.col-50 {
    width: 100%;
}

.col-70 {
    width: 100%;
}

.col-100 {
    width: 100%;
}

section {
    margin: 4rem 0;
}

.flex-row {
    flex-direction: row;
}

.flex-end {
    justify-content: flex-end;
}

i {
    color: white;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem
}

.text-left {
    text-align: left;
}

/* BUTTON */

.btn-purple {
    background-color: #9792E4;
    color: white;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    width: 40%;
    font-size: 1.5rem;
}

.btn-white {
    background-color: white;
    color: #9792E4;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 40%;
    font-size: 20px;
}

/* CARDS */

.card {
    background-color: #B5DDFF;
    border-radius: 30px;
    padding: 40px 30px;
    margin: 40px 0;
    text-align: center;
}

.card-type2 {
    background-color: white;
    border-radius: 30px;
    padding: 40px 30px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-type3 {
    background-color: #9792E4;
    border-radius: 30px;
    padding: 40px 30px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* HEADER */

header {
    background-color: #0084FD;
    height: 75px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

header .col-50 {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.logo-header img {
    padding: 1rem;
    width: 7rem;
}

.hamburger button {
    border: none;
    background-color: transparent;
    font-size: 2rem;
}

/* SECTION 1 */

.content-sec1-card h2 {
    color: #0084FD;
    font-size: 2rem;
}

.content-sec1-card p {
    font-size: 1.5rem;
    color: #5A6E7F;
}

.content-sec1-card button {
    background-color: #0084FD;
    font-size: 2rem;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    margin: 1rem 0;
}

.content-sec1-card button p {
    color: white;
}

.content-sec1-card img {
    width: 100%;
}

.card-icon {
    text-align: center;
    margin: 20px 0;
}

.card-icon i {
    color: #0084FD;
    font-size: 120px;
}

/* SECTION 2 */

.sec2 {
    background-color: #9792E4;
    padding: 2rem 0;
    color: white;
}

.sec2 img {
    width: 100%;
}

.sec2 h2 {
    margin: 3rem 0;
    color: white;
}

.content-sec2-card-type2 h2 {
    color: black;
}

.content-sec2-card-type2 p {
    font-size: 1.6rem;
    color: black;
    margin-bottom: 2rem;

}

.content-sec2-card-type2 button {
    background-color: #9792E4;
    font-size: 2rem;
    width: 20%;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    padding: 2rem;
}

/* SECTION 3 */

.sec3 h3 {
    text-align: center;
    font-size: 1.5rem;
}

.sec3 p {
    text-align: center;
    font-size: 2rem;
}

.sec3 h2 {
    color: #9792E4;
    text-align: center;
    font-size: 3rem;
}

.content-sec3-card-type3 img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.content-sec3-card-type3 h2 {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}

.content-sec3-card-type3 p {
    font-size: 2rem;
    color: white;
}

/* SECTION 4 */

.sec4 {
    background-color: #9792E4;
    padding: 2rem 0;
}

.title-sec4 h2 {
    color: white;
    text-align: center;
}

.content-sec4-card-type2 {
    align-items: flex-start;
    text-align: left;
}

.content-sec4-card-type2 h1 {
    font-size: 3rem;
}

.content-sec4-card-type2 h2 {
    font-size: 2.5rem;
}

.content-sec4-card-type2 h1,
h2 {
    color: #9792E4;
}

.content-sec4-card-type2 p {
    color: #5A6E7F;
    margin: 1rem 0;
}

/* SECTION 5 */

.sec5 h1 {
    color: #9792E4;
    font-size: 3rem;
}

.sec5 p {
    margin: 2rem 0;
}

.img-quote {
    margin-bottom: 10rem;
}

.img-quote img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
}

.img-quote i {
    color: #9792E4;
    font-size: 80px;
    position: relative;
    top: 0;
    left: 150px;
}

.sec5 h2 {
    font-size: 2.5rem;
}

.sec5 button {
    width: 80%;
    margin: 2rem 0;
}

/* SECTION6 */

.sec6 {
    background-color: #9792E4;
    margin-bottom: 0;
}

.content-sec6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

.content-sec6 h3 {
    margin: 3rem;
}

.content-sec6 h1 {
    font-size: 3rem;
    margin: 1rem;
}

.content-sec6 h1:last-of-type {
    color: #FDC15F;
}

.content-sec6 button {
    margin: 2rem 0;
    width: 100%;
    height: 3rem;
    border-radius: 30px;
}

.content-sec6 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-sec6 li {
    margin: 0 1rem;
}

/* FOOTER */

footer {
    background-color: #333333;
}

footer p {
    margin: 3rem 0;
    text-align: center;
    color: white;
    font-size: 1rem;
}

footer a {
    color: #9792E4;
}