* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-75 {
    width: 75%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-30 {
    width: 100%;
}

.col-50 {
    width: 100%;
}

.col-70 {
    width: 100%;
    height: 100px;
    background-color: purple;
    border: 2px solid black
}

.col-100 {
    width: 100%;
    height: 100px;
    background-color: yellow;
    border: 2px solid black
}

section {
    margin: 3rem 0;
}

.flex-row {
    flex-direction: row;
}

.flex-end {
    justify-content: flex-end;
}

i {
    color: white;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px
}

/* HEADER */

header {
    background-color: #0084FD;
    height: 75px;
}

header .col-50 {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.logo-header img {
    padding: 10px;
    width: 50%;
}

.hamburger button {
    border: none;
    background-color: transparent;
    font-size: 35px;
}

/* SECTION 1 */

.card {
    background-color: #B5DDFF;
    border-radius: 30px;
    padding: 40px 30px;
    margin: 40px 0;
}

.card h2 {
    color: #0084FD;
    font-size: 30px;
}

.card p {
    font-size: 20px;
    margin: 20px 0;
    color: #5A6E7F;
}

.card button {
    background-color: #0084FD;
    font-size: 25px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    margin: 20px 0;
}

.card button p {
    color: white;
}

.card img {
    width: 100%;
}

.card-icon {
    text-align: center;
    margin: 20px 0;
}

.card-icon i {
    color: #0084FD;
    font-size: 120px;
}

/* SECTION 2 */

.sec2 {
    background-color: #9792E4;
    padding: 40px 0;
    color: white;
}

.sec2 img {
    width: 100%;
}

.sec2 h2 {
    margin: 40px 0;
}

.card-type2 {
    background-color: white;
    border-radius: 30px;
    padding: 40px 30px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-type2 h2 {
    font-size: 30px;
    color: black;
}

.card-type2 p {
    font-size: 25px;
    color: black;
    margin-bottom: 20px;

}

.card-type2 button {
    background-color: #9792E4;
    font-size: 25px;
    width: 20%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    padding: 30px;
}